# ignore build artifacts
/files
/libsodium-dev.debhelper.log
/libsodium-dev.substvars
/libsodium-dev/
/libsodium.debhelper.log
/libsodium.postinst.debhelper
/libsodium.postrm.debhelper
/libsodium.substvars
/libsodium/

# OSC
/.osc/
/libsodium*.tar.gz
/libsodium*.dsc
/libsodium_*.debian.tar.gz
