Source: libsodium
Maintainer: John Morris <john@zultron.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), devscripts, build-essential

Package: libsodium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: https://libsodium.org
Description: libsodium

Package: libsodium-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libsodium(= 0.5.0-1)
Homepage: https://libsodium.org
Description: libsodium development files
