Source: libsodium
Section: devel
Priority: optional
Maintainer: John Morris <john@zultron.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8), autotools-dev, autoconf, automake, libtool
Homepage: https://libsodium.org

Package: libsodium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libsodium

Package: libsodium-dev
Architecture: any
Depends: libsodium (= ${source:Version}), ${misc:Depends}
Description: libsodium development files
